@charset "UTF-8";
@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

h1 {
  font-family: 'Satoshi-Regular';
  line-height: 56px;
  
  @include mobile {
    font-size: 24px;
    line-height: 32px;
  }
  
  @include tablet-mini {
    font-size: 28px;
    line-height: 36px;
  }

  @include tablet {
    font-size: 34px;
    line-height: 46px;
  }
  
  @include desktop {
    line-height: 56px;
    font-size: 44px;
  }
  
}
h2 {
  font-family: 'Satoshi-Regular';
  font-size: 32px;
}
h3 {
  font-family: 'Satoshi-Regular';
  font-size: 24px;
}
h4 {
  font-family: 'Satoshi-Regular';
  font-size: 16px;
}