h1 {
  font-family: 'Satoshi-Regular';
  color: white;
  font-size: 48px;
}
h2 {
  font-family: 'Satoshi-Regular';
  color: white;
  font-size: 32px;
}
h3 {
  font-family: 'Satoshi-Regular';
  color: white;
  font-size: 24px;
}