h1 {
  font-family: 'Satoshi-Regular';
  font-size: 44px;
  line-height: 56px;
}
h2 {
  font-family: 'Satoshi-Regular';
  font-size: 32px;
}
h3 {
  font-family: 'Satoshi-Regular';
  font-size: 24px;
}
h4 {
  font-family: 'Satoshi-Regular';
  font-size: 16px;
}