.mainWrapper {
  height: 100vh;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  &.child {
    scroll-snap-align: start;
  }
}

.mainWrapper::-webkit-scrollbar {
  display: none;
}
