.heroContainer {
  height: 90vh;
  background-color: #EF0C75;
  padding: 80px;
  padding-top: 250px;
  display: flex; 
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  .logo {
    position: absolute;
    top: 20px;
  }
  span {
    color: yellow;
  }
}