.headerContainer {
  position: fixed;
  top: 20px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  padding: 0 90px;
  z-index: 1000;
  .menuAnim {
    animation: menuAnim 2s;
  }
  .menuAnim2 {
    animation: menuAnim2 2s;
  }
}


@keyframes menuAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menuAnim2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}