@charset "UTF-8";
@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.headerContainer {
  position: fixed;
  top: 20px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  padding: 0 90px;
  z-index: 10000;
  @include mobile {
    padding: 0 30px;
  }

  .lenguageButtons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
    .menuAnim {
      animation: menuAnim 2s;
    }
    // .menuAnim:hover {
      //   z-index: 10000;
      //   position: absolute;
      //   transition: 1s;
      //   background-color: black;
      
      // }
      
      .menuAnim2 {
        animation: menuAnim 2s;
      }
      
      button {
      cursor: pointer;
      transition-duration: 1s;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 16px;
      font-family: $FontSecondary;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }

  .close {
    cursor: pointer;
    margin: 50px 0;
    margin-left: 80%;
  }

  ul {
    li {
      font-weight: 500;
      h3, a {
        text-decoration: none;
        color: black;
        margin-bottom: 30px;
        @include mobile {
          font-size: 24px;
        }
        
        @include tablet-mini {
          
        }
        
        @include tablet {
        }
        
        @include desktop {
          font-size: 30px;
        }
      }
    }
  }

  .menuAnim {
    z-index: 10000;
    cursor: pointer;
    animation: menuAnim 2s;
    padding: 15px;
    border-radius: 40%;
  }
  // .menuAnim:hover {
  //   z-index: 10000;
  //   position: absolute;
  //   transition: 1s;
  //   background-color: black;
    
  // }
  
  .menuAnim2 {
    animation: menuAnim 2s;
    padding: 20px;
    border-radius: 40%;
    cursor: pointer;
    animation: menuAnim2 2s;
  }

  .backdrop {
    display: block !important;
    background-color: #EF0C75;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 10000;
    animation-name: anim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    // overflow: scroll !important;
  }
  .backdrop2 {
   // overflow: scroll !important;
   display: block !important;
   background-color: #f9f9f9;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   z-index: 10;
   animation-name: anim;
   animation-duration: 3s;
   animation-iteration-count: 1;
  }
  .hidden {
    display: block !important;
    position: fixed;
    top: -2000px;
    right:  -3000px;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    z-index: 10000;
    animation-name: animHidden;
    animation-duration: 1.8s;
    animation-iteration-count: 1;
    
    background-color: #EF0C75;
    /* display: none !important; */
  }
  .hidden2 {
    display: block !important;
    background-color: #f9f9f9;
    position: fixed;
    top: -2000px;
    right:  -3000px;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    z-index: 10000;
    animation-name: animHidden;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    /* display: none !important; */
  }

}

@keyframes menuAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menuAnim2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim {
  0% { clip-path: circle(0% at 100% 0%)}
  100% { clip-path: circle(150%);}
 }

@keyframes animHidden {
  100% { clip-path: circle(0% at 100% 0%); top: 0; right: 0;}
  0% { clip-path: circle(150%); top: 0; right: 0;}
 }

