@charset "UTF-8";
@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.footerContainer {
  background-color: #FFF100;
  display: flex;
  box-sizing: border-box;
  position: relative;
  .seccion1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo {
      @include mobile {
        position: absolute;
        left: 15px;
        bottom: 30px;
      }
      @include tablet-mini {
        position: relative;
      }
    }
    ul {
      li {
        font-weight: 500;
        h3, a {
          text-decoration: none;
          color: black;
          margin-bottom: 30px;
          @include mobile {
            font-size: 24px;
          }
          
          @include tablet-mini {
            
          }
          
          @include tablet {
          }
          
          @include desktop {
            font-size: 30px;
          }
        }
      }
    }
    @include mobile {
      width: 70%;
      padding: 20px;
    }
    
    @include tablet-mini {
      width: 25%;
      padding: 20px;
      justify-content: space-evenly;
    }
    
    @include tablet {
      width: 40%;
    }
    
    @include desktop {
      width: 60%;
      padding: 100px 200px;
    }
  }
  .seccion2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    .infoSec {
      display: flex;
    }
    .InfoText {
      display: inline-block;
      padding: 30px 14px;
      padding-top: 0;
      
      h4 {
        font-weight: bold;
        margin-bottom: 17px;
        @include mobile {
          font-size: 16px;
        }
        
        @include tablet-mini {
          font-size: 18px;
        }
        
        @include tablet {
        }
        
        @include desktop {
          font-size: 24px;
        }
      }
      p {
        font-family: Satoshi-Regular;
        line-height: 25px;
        max-width: 300px;
        @include mobile {
          font-size: 14px;
        }
        
        @include tablet-mini {
          font-size: 16px;
        }
        
        @include tablet {
        }
        
        @include desktop {
          font-size: 18px;
        }
      }
      a {
        color: black;
        text-decoration: none;
      }
    }

    hr {
      width: 100%;
      border:solid 0.5px black;
      @include mobile {
        display: block;
      }
      @include tablet-mini {
        display: none;
      }
    }
    
    .linksContainer {
      display: flex;
      padding: 12px;
      padding-right: 50px;
      justify-content: space-between;
      .terms {
        @include mobile {
          margin-bottom: 30px;
        }
        @include tablet {
          margin-bottom: 0px;
        }
      }
      @include mobile {
        width: 100%;
        flex-direction: column-reverse;
      }
      @include tablet-mini {
        width: 100%;
        padding-top: 30px;
      }
      @include desktop {
        font-size: 12px;
      }
      svg {
        margin: 5px;
      }
      
      a {
        font-family: Satoshi-Regular;
        font-size: 18px;
        text-decoration: none;
        color: black;
      }
    }
    @include mobile {
      width: 100%;
    }
    
    @include tablet-mini {
      width: 75%;
    }
    
    @include tablet {
    }
    
    @include desktop {
      font-size: 24px;
    }
  }
  @include mobile {
    padding-top: 50px;
    flex-direction: column;
    height: 1000px;
    overflow: hidden;
  }
  
  @include tablet-mini {
    padding-top: 50px;

  }
  
  @include tablet {

  }
  
  @include desktop {
    height: 90vh;
  }
}