@charset "UTF-8";
@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.footerContainer {
  position: relative;
  background-color: #FFF100;
  .footerWrapper {
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 90%;
    margin: auto;
    .seccion1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .logo {
        @include mobile {
          position: absolute;
          bottom: 40px;
        }
        @include tablet-mini {
          position: relative;
        }
      }
      ul {
        margin-bottom: 50px;
        li {
          h3, a {
            font-family: Satoshi-Bold;
            font-weight: 500;
            text-decoration: none;
            color: black;
            margin-bottom: 30px;
            @include mobile {
              font-size: 24px;
            }
            
            @include tablet-mini {
              
            }
            
            @include tablet {
            }
            
            @include desktop {
              font-size: 30px;
            }
          }
        }
      }
      @include mobile {
        width: 70%;
      }
      
      @include tablet-mini {
        width: 25%;
        justify-content: space-evenly;
      }
      
      @include tablet {
        width: 40%;
      }
      
      @include desktop {
        width: 60%;
      }
    }
    .seccion2 {
      position: relative;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
  
      .infoSec {
        display: flex;
        @include mobile {
          flex-direction: column;
        }
      }
      .InfoText {
        display: inline-block;
        padding: 30px 14px;
        padding-top: 0;
        
        h4 {
          font-weight: bold;
          margin-bottom: 17px;
          @include mobile {
            font-size: 16px;
          }
          
          @include tablet-mini {
            font-size: 18px;
          }
          
          @include tablet {
          }
          
          @include desktop {
            font-size: 24px;
          }
        }
        p {
          font-family: Satoshi-Regular;
          line-height: 25px;
          max-width: 300px;
          @include mobile {
            font-size: 14px;
          }
          
          @include tablet-mini {
            font-size: 16px;
          }
          
          @include tablet {
          }
          
          @include desktop {
            font-size: 18px;
          }
        }
        a {
          color: black;
          text-decoration: none;
        }
      }
      
      .linksContainer {
        display: flex;
        padding: 12px;
        justify-content: space-between;
    
        .terms {
          @include mobile {
            margin-top: 10px;
            margin-left: 10px;
          }
          @include tablet {
            margin-bottom: 0px;
          }
        }
        @include mobile {
          width: 100%;
          margin-top: 40px;
          flex-direction: column;
        
        }
        @include tablet-mini {
          width: 100%;
          padding-top: 30px;
        }
        @include desktop {
          font-size: 12px;
        }
        svg {
          margin: 5px;
        }
        
        a {
          font-family: Satoshi-Regular;
          font-size: 18px;
          text-decoration: none;
          color: black;
        }
      }
      @include mobile {
        width: 100%;
        height: 100px;
      }
      
      @include tablet-mini {
        width: 75%;
      }
      
      @include tablet {
      }
      
      @include desktop {
        font-size: 24px;
      }
    }
    @include mobile {
      padding-top: 50px;
      flex-direction: row;
      height: 400px;
      overflow: hidden;
    }
    
    @include tablet-mini {
      padding-top: 80px;
      padding-bottom: 40px;
    }
    
    @include tablet {
  
    }
    
    @include desktop {
      padding-top: 100px;
      padding-bottom: 40px;
      height: auto;
    }
  }
  hr {
    border:solid 0.5px black;
    @include mobile {
      display: block;
      position: absolute;
      top: 260px;
      left: 0;
      right: 0;
      width: 100vw;
    }
    @include tablet-mini {
      display: none;
    }
  }
}