@charset "UTF-8";
@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.sliderInfoContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  height: 100%;
  width: 100%;
  @include mobile {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.481);
  }
  @include tablet-mini {
    padding: 40px;
    background-color: transparent;
  }
  @include tablet {
  }
  
  @include desktop {
    padding: 60px 90px;
    background-color: transparent;
  }
  .date {
    font-weight: 700;
  }
  li {
    margin: 12px 0;
  }
  .buttonWrapper {
    display: flex;
    justify-content: flex-end;
  }
}
