@charset "UTF-8";
@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.button {
  text-transform: capitalize;
  font-family: 'Satoshi-Bold';
  border: solid white 1px;
  padding: 19px 30px;
  border-radius: 100px;
  text-decoration: none;
  color: white;
  letter-spacing: 0.5em;
  @include mobile {
    padding: 10px 20px;
    font-size: 12px;
  }
}