@charset "UTF-8";
@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.cardContainer {
  cursor: pointer;
  margin: 0 20px;
  position: relative;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid white 1px;
  border-radius: 20px;
  height: 340px;
  width: 250px;
  transition: 1s;
  scroll-snap-align: start;
  .title_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    color: white;
    font-family: 'Satoshi-Bold';
    margin: 20px 0;
    text-transform: uppercase;
  } 
  
  
  .propertiesText {
    font-family: 'Satoshi-Light';
    font-size: 14px;
    text-align: center;
    color: white;
    margin: 10px 0;
    text-transform: initial;
    @include tablet-mini {
      font-size: 18px ;
    }
    @include desktop {
      font-size: 24px;
    }
  }


  @include mobile {
    height: 320px;
    min-width: 200px;
  }
  
  // @include desktop {
  //   height: 340px;
  //   width: 260px;
  // }
}


// .cardContainer:hover {
//   background-color: white;
//   padding-top: 50px;
//   p {
//     font-family: 'Satoshi-Light';
//     font-size: 14px;
//     color: rgb(0, 0, 0);
//     text-transform: initial;
//   }
// }