@charset "UTF-8";
@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 900px;
  .heroImage {
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  .heroContainer {            
    width: 100%;
    height: 100%;
    .heroParagraph {
        margin-top: 200px;
        margin-left: 200px;
        display: inline-block;
        color: #000;
        font-family: 'Satoshi-Medium';
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin-bottom: 50px;
      }
      .heroTitle {
          margin-left: 200px;
          display: inline-block;
          font-family: 'Satoshi-Medium';
          color: #000;
          font-size: 72px;
          font-weight: 900;
          letter-spacing: 40px;
          text-transform: uppercase
      }
    }

}
