@charset "UTF-8";
@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";


.homeCardsSeccionWrapper {
  background-color: black;
  .homeCardsSeccionContainer {
    height: 90vh;
    min-height: 630px;
    max-width: 2000px;
    max-height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    margin: auto;
    .cardsWrapper {
      width: 80%;
      display: flex;
      justify-content: center;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      @include mobile {
        width: 100%;
        justify-content: start;
      }
      @include tablet-mini {
        justify-content: start;
        width: 90%;
      }
      @include desktop {
        justify-content: center;
      }
      
  
    }
    .cardsWrapper::-webkit-scrollbar {
      display: none;
    }
    .homeCardsTitle {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 40px 0;
      color: white;
      width: 90%;
      margin: auto;
      span {
        color: #EF0C75;
      }
    }
  
    .contactButton {
      display: flex;
      padding: 20px 40px;
      justify-content: center;
    }
  
    h1 {
      max-width: 900px;
      @include mobile {
        width: 80%;
      }
  
      @include tablet-mini {
        width: 70%;
      }
  
      @include tablet {
        width: 75%;
      }
  
      @include desktop {
        width: 65%;
      }
    }
  }
}
