@charset "UTF-8";
@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.homeCardsSeccionContainer {
  height: 90vh;
  min-height: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  overflow: hidden;
  .cardsWrapper {
    width: 80%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .homeCardsTitle {
    text-align: center;
    padding: 40px 0;
    color: white;
    span {
      color: #EF0C75;
    }
  }

  .contactButton {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
  }

  h1 {
    @include mobile {
      width: 80%;
    }

    @include tablet-mini {
      width: 70%;
    }

    @include tablet {
      width: 75%;
    }

    @include desktop {
      width: 65%;
    }
  }
}