@charset "UTF-8";
@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.videoContainer {
  position: relative;
  height: 90vh;
  max-height: 1500px;
  background-color: black;
  @include mobile {
    height: 600px;
    max-height: 600px;
  }
}