@charset "UTF-8";
@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.videoContainer {
  position: relative;
  height: 90vh;
  background-color: black;
  @include mobile {
    height: 300px;
    max-height: 400px;
  }
}